.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;

  @media screen and (max-width: $tablet) {
    @include vert-flex;
    gap: 1rem;
  }

  &__input {
    padding: 2.4rem 2rem .8rem 2rem;
    border-radius: .6rem;
    border: 1px solid $color-gray-light-2;
    background: $color-main-white;
    font-size: 1.6rem;
    width: 100%;

    &--textarea {
      height: 12rem;
      resize: none;
    }

    &--select-container {
      cursor: pointer;
      position: relative;
    }

    &--icon {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;

      &.top {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__group {
    position: relative;

    &--textarea {
      grid-column: 1/4;
      grid-row: 2/3;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 1.9rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    transition: all .3s;
    color: $color-gray;
    font-family: ArialMT, Arial, Helvetica, sans-serif;

    &--textarea {
      top: 1.5rem;
      transform: none;
    }

    &.top {
      top: .8rem;
      transform: none;
    }
  }

  &__input:focus {
    outline: 2px solid $color-gray-3;
  }

  &__btn {
    border-radius: 2px;
    background: $color-main-blue;
    color: $color-main-white;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1.4rem;
    font-size: 1.4rem;
    font-family: Arial;
  }
}

.books {
  background: $color-main-white;
  position: absolute;
  top: calc(100% + 1rem);
  z-index: 10;
  width: 100%;
  list-style: none;

  &__item {
    padding-left: 1.6rem;
    padding-right: 1rem;
    border-left: 7px solid $color-main-white;
    height: 4.5rem;
    cursor: pointer;

    @include flex-center;

    color: #222;
    font-family: ArialMT, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;

    &:hover {
      border-color: $color-main-blue;
      background-color: $gray-bg;
    }
  }
}